:root {
  --color-bg-dark: #0f0e17;
  --color-bg-light: #ffffff;
  --color-primary: #7b2ff7;
  --color-secondary: #f107a3;
  --color-text-dark: #e0e0e0;
  --color-text-light: #222;
  --color-card-dark: #1a1a2e;
  --color-card-light: #f7f7f7;
  --color-accent: #9cb1f5;
  --transition-speed: 0.3s;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  font-family: 'Poppins', sans-serif;
  transition: background-color var(--transition-speed), color var(--transition-speed);
  margin: 0;
}

body.light-mode {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

.app-container {
  min-height: 100vh;
  display: flex;
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}

body.light-mode .app-container {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

.main-content {
  flex: 1;
  margin-left: 280px;
  padding: 2rem;
  transition: all var(--transition-speed) ease-in-out;
}

.app-header {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 2px;
  flex-direction: column; 
}

.logo-placeholder {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  border: 1px solid rgba(255,255,255,0.06);
}


@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .main-content {
    margin-left: 0;
    padding: 1.5rem;
  }
}
